/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

.header {
/*  background: transparent url(//c.disquscdn.com/next/de49d54/marketing/assets/img/home/hero-bg.png) center center no-repeat;
  background-size: 120%;
  background-color: lightcyan;*/
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6190E8, #A7BFE8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6190E8, #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}
}

body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-weight: bold;
  color: papayawhip;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #6190E8;
}

a {
  color: #6190E8;
  text-decoration: none;
}

.search-results {
  margin-left: 20px;
  margin-right: 20px;
}

.img-card {
  background-image: url('http://i.imgur.com/Zxj8e9T.png');
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  width: 100%;
  height: 150px;
  margin-bottom: 5px
}

.card {
  margin-bottom: 20px;
}

.marked {
  background-color: papayawhip;
}

mark {
  background-color: papayawhip!important;
}

