/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

.header {
  background: transparent url(//c.disquscdn.com/next/de49d54/marketing/assets/img/home/hero-bg.png) center center no-repeat;
  background-size: 120%;
  background-color: lightcyan;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}
}

body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

#wiki-search-form {
  display: block;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 16px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.form-group {
  padding: 15px;
  border-radius: 5px;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

a {
  color: #BBBBBB
  text-decoration: none;
}

.search-results {
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  margin-bottom: 20px;
}
