.podium > div {
  margin: 2rem;
}

.navbar-brand, .ranking {
  font-family: 'Press Start 2P', cursive;
}

#bootstrap-embed-wrapper {
  margin: 50px;
}

.card {
  background-color: lightblue;
  width: 30rem;
}

.collapsed {
  display: none;
}

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}