h1 {
  color: fuchsia;
}

.podium > div {
  margin: 2rem;
  background-color: lightblue;
}

.collapsed {
  height: 3rem;
  overflow: hidden;
}

button {
  width: 3rem;
}

html {
  font-size: 14px
}

div {
  padding: .25rem;
}