<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiPedia Knowledge Hole!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <div class="row header text-center">
          <div class="col-lg-12">
            <h1 class="display-2">
              Wikipedia Knowledge Hole
            </h1>
            <div class="row">
                <div class="col-centered col-lg-6">
                  <div class="input-group">
                    <input id="wiki-search-form" type="search" class="form-control" placeholder="What are you curious about?">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button" id="wiki-random">🔀</button>
                    </span>
                  </div>
                </div>
            </div>
            <p class="lead"><strong>Hint:</strong> click on <mark>words</mark> to dive <span>deeper</span>.</p>
          </div>
        </div>
      </header>

      <main class="row search-results">
        <section id="searches" class="col-lg-10 col-md-10 col-sm-12 card-columns">
            <div id="card-template" class="card" display: none;">
              <div class="card-block">
              <a href="#" class="link" target="_blank"><div class="img-card"></div></a>
                <a href="#" class="link" target="_blank"><h4 class="card-title">Card title</h4></a>
                <p class="card-text word_split">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </section>

        <aside id="share-aside" class="col-lg-2 col-md-2 col-sm-12">
          <div class="row">
            <h5>Recent searches</h5>
            <ul id="previous-searches">
            </ul>
          </div>
          <div class="row">
            <h5>Deepness</h5>
            <p id="deepness">
            0
            </p>
            <h5>Share</h5>
            <p id="share">
            🐦
            </p>
            <h5>Powered by WikiPedia - Donate</h5>
            <p id="wiki-donate">
            🌍
            </p>
          </div>
        </aside>

      </main>

      <footer>
        <a href="https://glitch.com">
          Remix this in Glitch
        </a>
      </footer>

    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdn.rawgit.com/jbt/js-crypto/master/md5-min.js"></script>
    <script src="/jquery.lettering-0.6.1.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
